{% extends "food_app/base.html" %}
{% load static %}
{% block start %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

    <div class="box-container">
    <div class="box-1">
        <h1 class="text">
            <div>Get Your Favourite </div>
            <div>Food by <span class="FoodieWe">FoodieWe</span></div>
            <div>Delivery in 10 minutes</div>
        </h1>

    </div>
    <div class="box-2">
    <img class="image" src="{% static 'css/logo.jpg' %}" alt="My image" >
    </div>
    </div>
{% endblock %}







